.container{
    display: inline-block;
    
}

.button{
    all: unset;
    display: flex;
    height: 80%;
    width: 3rem; ;  
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4px;
    gap: 0.5rem;
    cursor: pointer;    
}



.button:active{  
    transform: scale(0.9);    
}

.icon{
    font-size: 1.5rem;
    color: var(--font);
}

.title{
    font-size:0.6rem ;
    color: var(--font);
}


