* {
  padding: 0;
  margin: 0;
}
:root {
 


  --background: #D3EBCD;
  --foreground: #AEDBCE;
  --acent: #839AA8;
  --font: #635666;


  
  
}
[data-theme='dark'] {
  --background: #222831;
  --foreground: #393E46;
  --acent: #FFD369;
  --font: #EEEEEE;
  
}